p.margin {
    margin: 3cm 3cm 3cm 50px;
    background-color: rgb(255, 252, 216);
}
p.margin2 {
    width: 800px;
    height: 180px;
    background-color: rgb(205, 250, 235);
    margin: 50px auto;
}